		@import url(http://fonts.googleapis.com/css?family=Cinzel);
		@import url(http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,latin-ext);
			
			body{
				
				background-image: url('pozadina.jpg');
				background-size: auto;
                
			}
			
			#frame{
				width: 900px;
				margin-left: auto;
				margin-right: auto;
				
				position: relative;
				top: 30px;
				border-style: solid;
				border-color: lightgray;
				border-width: 2px;
				margin-bottom: 40px;
				background-color: rgba(255,255,255,0.6);


			}
			
			h1{				
				font-family: Cinzel;
				font-size: 46px;
				position: relative;
				left: 5px;
				color: gray;
				top: -40px;
				
			}
			
			#palace{
				height: 70px;
				width: 74px;
				background-image: url('palace.gif');
				background-size: contain;
				background-repeat: no-repeat;
				position: relative;
				left: 50px;
				
			}
			
			#header{
				padding: 20px;
				width: 0px;				
			}

			#header a{
				text-decoration: none;
			}
			
			#nav{
				
				position: relative;
				top: -140px;
				width: 440px;	
				position: relative;
				left: 464px;
				
				
			}
			
			#nav ul{
				padding: 5px;
				
			}
			
			#nav li{
				display: inline;				
				margin-left:30px;
				
			}
			
			#nav li a{
				text-decoration: none;
				color: gray;
			}
			
			#slider1{
				position: relative;
				top: -195px;
				margin-bottom: -120px;
			}
			
			#prijava{
				height: 20px;
				width: 20px;
				position: relative;
				bottom: 260px;
				left:871px;
				background-image: url('login2.png');
				background-size: contain;
				background-repeat: no-repeat;
			}
			
						
			#footer{
				color: gray;
				text-align: center;

			}

			
			#kuhar{
 				height: 506px;
 				width: 900px;
 				position: relative;
 				top: -179px;

			}

			#onama{
				font-size: 18px;
				margin-left: 10px;	
				position: relative;
				bottom: 120px;
				width: 660px;
				text-align: justify;

			}
            
			#partneri{
				float: right;
				position: relative;
				top: -100px;
				right: 10px;
				border-color: gainsboro;
				border-left-style: solid;
				border-top-style: solid;
				border-bottom-style: solid;
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
				border-right-style: solid; 

			}

			#partneri ul{
				list-style-image: url('arrow.png');

			}

			#partneri li{
				padding: 3px;
				font-size: 19px;

			}

			#partneri a{
				text-decoration: none;
				color: grey;
			}

			#partneri p{
				padding-left: 18px;
				font-size: 18px;
			}

			#slikaRestorana{
				width: 900px;
				position: relative;
				top: -179px;
			}

			#informacije{
				font-size: 19px;
				position: relative;
				bottom: 120px;
				padding: 10px;
				left: 15px;
				width: 300px;

			}

			.informacijep{
				padding-top: 5px;
				position: relative;
				left: 15px;
				color: gray;
			}

			#telefon{
				height: 35px;
				
				float: left;
			}

			#mail{
				padding-top: 5px;
				height: 25px;
				float:	left;
			}

			

			#location{
				height: 35px;
				float: left;
				margin-left: -10px;
				margin-right: -9px;
			}

			#fb{
				position: relative;
				bottom: 353px;
				left:868px;
				height: 30px;
				width: 30px;
				position: relative;
				background-image: url('fb.png');
				background-size: contain;
				background-repeat: no-repeat;
			}

			#forma{
				font-size: 19px;
				padding: 10px;
				position: relative;
				left: 710px;
				bottom: 363px;
				margin-bottom: -160px;
				line-height: 30px;
				width: 260px
			}

			#posalji{
				position: relative;
				bottom: 5px;
				left: 120px;
				width: 100px;
			}

			#rvrijeme{
				font-size: 19px;
				position: absolute;
				left: 380px;
				bottom: 976px;
				margin-bottom: -320px;
				width: 250px;
				color: gray

			}

			#rvrijemep{
				color: black;
			}

			#tabela{
				margin-top: -100px;
			}

			table{
				
				font-family: cinzel;
			}

			table, th, td {
    			border: 2px solid lightgray;
    			border-collapse: collapse;
    			font-size: 23px;
    			text-align: center;
    			border-right: 0px;
    			border-left: 0px;
    			
			}

			table td{
				width: 341px;
				padding: 5px;
			}
			
			.meni{
				text-align: center;
				font-size: 32px;
				
				color: gray;
				font-family: cinzel;


			}
			
			.menid{
				font-size: 15px;
				color: gray;
				font-family: times new roman;
			}

			.cijena{
				color: LightSlateGray;
			}

			#cijenek{
				text-align: center;
				color: gray;
				margin-bottom: 70px;
				
			}

			.novosti{
				padding: 10px;
				font-size: 18px;
				border-top: 2px solid lightgray; 
				
				
			}

			#nov{
				font-size: 33px;
				padding: 10px;
				margin-top: -100px;
				margin-bottom: 0px;
				color: gray;
			}

			
			.datum{
				margin-top: -30px;
			}

			#uzv1{
				height: 20px;
				width:20px;
				background-image: url('uzvicnik.gif');
				background-size: contain;
				background-repeat: no-repeat;
				position: relative;
				left: 685px;
				bottom: 668px;
				opacity: 0;	

			}

			#uzv2{
				height: 20px;
				width:20px;
				background-image: url('uzvicnik.gif');
				background-size: contain;
				background-repeat: no-repeat;
				position: relative;
				left: 685px;
				bottom: 628px;
				opacity: 0;	
						
			}

			#uzv3{
				height: 20px;
				width:20px;
				background-image: url('uzvicnik.gif');
				background-size: contain;
				background-repeat: no-repeat;
				position: relative;
				left: 685px;
				bottom: 534px;	
				opacity: 0;			
			}

			#alert1{
				position: absolute;
				left: 905px;
				bottom: 780px;
				color: red;
				font-size: 14px;
			}

			#alert2{
				position: absolute;
				left: 905px;
				bottom: 718px;
				color: red;
				font-size: 14px;
			}
			

			#alert3{
				position: absolute;
				left: 905px;
				bottom: 604px;
				color: red;
				font-size: 14px;
			}

			#inf{
				position: absolute;
				bottom: 365px;
				left: 720px;
				font-size: 12px;

			}

			
			#novostiNaslov{
				font-size: 24px;
				text-decoration: underline;
			}
			
			#reset{
				position:absolute;
				bottom: 15px;
			}

			#komentarNaslov{
				color: teal;
				font-size: 30px;
				padding: 20px;
				margin-bottom: 100px;
			}

			#napisiKomentar{
				position: relative;
				left: 100px;
			}

			.novosti2{
				color: teal;
				text-decoration: none;				
			}

			#welcome{
				color: gray;
				position: relative;
				text-align: center;
				bottom: 35px;
				font-size: 35px;
				font-family: cinzel;

			} 

			#komentarObavijest{
				color: red;
				font-size: 25px;
				text-align: center;
			}

			#adminPanel{
				padding: 10px;
				position: relative;
				bottom: 100px;
			}

			#loginError{
				color: red;
			}

			.adminOpcije{
				font-size: 25px;
				padding: 5px;
				color: DimGray;
				border-bottom: 2px solid lightgray;
			}

			#odjava{
				color:teal;
				font-size: 20px;
				position: relative;
				bottom: 130px;
				left: 800px;

			}

			#adminProstor{
				font-size:35px;
				color:teal;
				padding:5px;
				position: relative;
				bottom: 80px;
				margin-bottom: -100px;
			}

			#loginInf1{
				position: absolute;
				bottom: 850px;
				left: 712px;
				color: teal;
				font-size: 17px;
			}

			#loginInf2{
				position: relative;
				bottom: 1102px;
				left: 712px;
				color: teal;
				font-size: 17px;
			}

			#loginInf3{
				position: relative;
				bottom: 265px;
				left: 712px;
				color: teal;
				font-size: 17px;
			}

			#loginInf5{
				position: absolute;
				bottom: 1525px;
				left: 712px;
				color: teal;
				font-size: 17px;
			}

			#loginInfKom{
				position: relative;
				bottom: 265px;
				left: 712px;
				color: teal;
				font-size: 17px;
			}

			#brisanjeKomentara1{
				color: teal;
				font-size: 30px;
				padding: 20px;
				margin-bottom: 100px;
			}

			#brisanjeKomentara2{
				color: red;
				font-size: 30px;
				padding: 20px;
				margin-bottom: 100px;
			}

			#vratiNazad{
				color: blue;
				font-size: 20px;
				padding: 20px;
				position: relative;
				bottom: 50px;
			}