		@import url(http://fonts.googleapis.com/css?family=Cinzel);
			
			body{
				background-color: gainsboro;
			}
			
			#frame{
				width: 1200px;
				margin-left: auto;
				margin-right: auto;
				background-color: white;
				position: relative;
				top: -20px;
			}
			
			h1{				
				font-family: Cinzel;
				font-size: 46px;
				position: relative;
				left: 5px;
				color: gray;
				top: -40px;
				
			}
			
			#palace{
				height: 70px;
				width: 74px;
				background-image: url('palace.jpg');
				background-size: contain;
				background-repeat: no-repeat;
				position: relative;
				left: 50px;
				
			}
			
			#header{
				padding: 20px;
				border-top-style: solid;
				position: relative;
				top: 40px;
				border-color: darkgrey;
				border-width: 1px;
			}
			
			#nav{
				
				position: relative;
				top: -100px;
				width: 680px;	
				position: relative;
				left: 500px;
				
				
			}
			
			#nav ul{
				padding: 5px;
				
			}
			
			#nav li{
				display: inline;				
				margin-left:40px;
				
			}
			
			#nav li a{
				text-decoration: none;
				color: grey;
			}
			
			#slike{
				width: 1200px;
				height: 679px;
				background-image: url("slika.jpg"); 
				background-repeat: no-repeat;
				position: relative;
				top: -105px;
			}
			
			#prijava{
				position: relative;
				bottom: 276px;
				left:1110px;
			}
			
			#prijava a{
				text-decoration: none;	
				color: grey;
			}
			
			#footer{
				color: grey;
				text-align: center;

			}

			#slikaRestorana{
 				height: 646px;
 				width: 1200px;
 				position: relative;
 				top: -105px;

			}

			#onama{
				font-size: 20px;
				margin-left: 20px;	
				position: relative;
				bottom: 70px;

			}



			